<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.zp.pharmacysys.mapper.GoodsMapper">

	<!-- 查询所有药品信息 -->
	<select id = "queryGoodsInfo" resultType="java.util.Map">
		SELECT 
			id , name , code , type , purchaseprice , sellprice , summary ,
			create_time as createTime,
			modifield_time as modifieldTime ,
			user_id as userId
		FROM goods 
		where state = 1
	</select>
	
	<!-- 根据id查询药品信息 -->
	<select id = "queryGoodsInfoById" resultType = "java.util.Map">
		SELECT
		 	id , name , code , type , purchaseprice , sellprice  , summary ,
			create_time as createTime ,
			modifield_time as modifieldTime ,
			user_id as userId
		FROM goods
		WHERE id = #{id} 
	</select>
	
	<!-- 添加新药品信息 -->
	<insert id = "insertGoods" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id" parameterType="com.zp.pharmacysys.bean.Goods" >
		INSERT into
			goods
			(name , code , type , purchaseprice , sellprice  , summary , create_time , modifield_time ,state , user_id)
		values(#{name} , #{code} , #{type} , #{purchaseprice} , #{sellprice} ,  #{summary} , now() , now() , 1 , #{userId})
	</insert>
	
	<!-- 根据goodsCode查询药品id -->
	<select id = "queryGoodsIdByCode" parameterType="String"
	  resultType="java.lang.Integer">
		SELECT 
		id
		FROM 
		goods
		WHERE code = #{code}
	</select>
	
	<!-- 更新药品信息 -->
	<update id="updateGoods">
		update
		goods
		set
		name=#{name} ,
        code= #{code},
		type = #{type},
		purchaseprice = #{purchaseprice},
		sellprice = #{sellprice},
		summary= #{summary},
        modifield_time = now() 
		where id = #{id}
	</update>
	
	<!-- 删除id供应商信息 -->
	<update id="deleteGoods">
		update
		goods
		set
		state = 2
		where id = #{id}
	</update>
</mapper>