<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.zp.pharmacysys.mapper.UserMapper">
	<select id="queryPasswordByUsername" parameterType="String"
		resultType="String">
		SELECT password
		FROM user
		WHERE username = #{username}
	</select>
	<select id="queryRoleByUsername" parameterType="String"
		resultType="String">
		SELECT role.role
		FROM user
		INNER JOIN role
		ON user.role_id = role.id
		WHERE username = #{username}
	</select>
	<select id="queryUserId" resultType="java.lang.Integer">
		SELECT id
		FROM user
		WHERE username = #{username}
	</select>
	<select id="queryUsernameById" parameterType="java.lang.Integer"
	  resultType="String">
		SELECT username
		FROM user
		WHERE id = #{id}
	</select>
	
	<!-- 添加user信息 -->
	<insert id="insertUser" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id" parameterType="java.util.Map">
		insert into
		user(
		username ,
		password,
		role_id
		)
		values
		(#{username},#{password},#{roleId})
	</insert>
	
	<!-- 查询所有角色信息 -->
	<select id = "queryRoleInfo" resultType="java.util.Map">
		SELECT 
			*
		FROM role 
	</select>
	
	<!-- 添加role信息 -->
	<insert id= "insertRole"   useGeneratedKeys="true" keyProperty="id"
		keyColumn="id" parameterType="java.util.Map" >
		INSERT INTO 
		role 
		(role , remark )
		values(#{role} , #{remark})
	</insert>
	
	<!-- 更新role信息 -->
	<update id="updateRoleById">
		update
		role
		set
		role=#{role} ,
        remark= #{remark}
		where id = #{id}
	</update>
	
	<!-- 根据Id查询供应商信息  -->
	<select id = "queryRoleInfoById" resultType="java.util.Map">
		SELECT 
			*
		FROM role 
		WHERE 
		id = #{id}
	</select>
	
	<!-- 查询所有用户信息 -->
	<select id = "queryUserInfo" resultType="java.util.Map">
		SELECT 
			*
		FROM user 
	</select>
	
	<select id="queryroleById" parameterType="java.lang.Integer"
	  resultType="String">
		SELECT remark
		FROM role
		WHERE id = #{id}
	</select>
	
	<!-- 更新user信息 -->
	<update id="updateUserById">
		update
		user
		set
		username=#{username} ,
        password= #{password},
        role_id = #{roleId}
		where id = #{id}
	</update>
	
	<!-- 根据Id查询供应商信息  -->
	<select id = "queryUserInfoById" resultType="java.util.Map">
		SELECT 
			*
		FROM user
		WHERE 
		id = #{id}
	</select>
</mapper>